<h1>Abrechnungseingabe</h1>
<form>
  <label for="monat">Monat</label>

  <select name="monat" id="monat">
    <option value="01">Januar</option>
    <option value="02">Februar</option>
    <option value="03">März</option>
    <option value="04">April</option>
    <option value="05">Mai</option>
    <option value="06">Juni</option>
    <option value="07">Juli</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">Oktober</option>
    <option value="11">November</option>
    <option value="12">Dezember</option>
  </select>
  <br />
  <input type="text" placeholder="Versichertennummer" />
  <pct-leistungs-paket-display
    *ngFor="let paket of pakete"
    [paket]="paket"
  ></pct-leistungs-paket-display>
</form>
<button>Abrechnung absenden</button>
